extends maps

block content
  h1= title
  h2#meteorCount
  form(action='/map', method='post')
   p
    label Search
    br
    input(type ='range', name='year' min="1801" max="2013")
    br
    input(type='submit')
  - local_data = JSON.stringify(meteors)
  input(type='hidden', value=local_data)#localdata
  div#map-canvas