doctype html
html
  head
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    title= title
    link(rel='stylesheet', href='/stylesheets/maps.css')
    script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBulhT9lNZw40M1zVOh3-vRuSQhpWK0oWo&sensor=false')
    script(type='text/javascript' src='/javascripts/maps.js')
  body
    block content