head
 link(rel='stylesheet', href='//code.jquery.com/qunit/qunit-1.14.0.css')
 script(src='//code.jquery.com/qunit/qunit-1.14.0.js')
 script(src='javascripts/calculatefront.js')
 script(src='javascripts/unit.js')

block content
 body
  #qunit
  #qunit-fixture